.wrapper {
  display: flex;
}

.div-authors {
  width: 50%;
}

.value-athors {
  position: relative;
  float: left;
}

.div-bulma {
  width: 50%;
}

.value-bulma {
  position: relative;
  float: right;
}
