<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/index">
      <img src="./assets/img/hold-my-beer-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a routerLink="" class="navbar-item">
        Accueil
      </a>

      <a routerLink="book" class="navbar-item">
        Réserver
      </a>

      <a routerLink="order" class="navbar-item">
        Commander
      </a>
    </div>
  </div>
</nav>
