<section class="section">
  <div class="container">
    <h1 class="title">
      Commande de boissons
    </h1>
  </div>
  <div>
    <app-drink-card *ngFor="let drink of drinks; index as i"
                    [index]="i"
                    [drinkId]="drink.uid"
                    [name]="drink.name"
                    [isAlcoholic]="drink.isAlcoholic"
                    [description]="drink.description">
    </app-drink-card>
  </div>
  <div *ngIf="!orderService.isOrderEmpty()" style="padding: 20px">
    <div id="command-summary" style="margin: 10px 0px">
      <strong>Récap commande</strong>
      <p *ngFor="let order of orderService.getOrders()">
        {{drinkNameById(order.drinkId)}} : {{order.quantity}}
      </p>
    </div>
    <div id="command-total" style="margin: 10px 0px">
      <strong>Total</strong>
      <p>{{orderService.getTotal()}}</p>
    </div>
    <div class="buttons">
      <button class="button is-danger" (click)="deleteOrder()">Supprimer</button>
      <button class="button is-primary" (click)="sendOrder()">Envoyer</button>
    </div>
  </div>
</section>
