<div style="display: flex">

  <div style="width: 25%; padding: 1.5rem">
    <img src="assets/img/default-drink-img.jpg" alt="drink-name" style="max-width: 250px; max-height: 250px; width: auto; height: auto">
  </div>
  <div style="width: 50%" class="card-content">
    <div class="media-content">
      <p class="title is-4">{{name}}</p>
      <p>{{description}}</p>
      <sub *ngIf="isAlcoholic" style="color: #ff0000">l'abus d'alcool est dangereux pour la santé à consommer avec modération</sub>
    </div>
  </div>
  <div class="content" style="width: 25%; padding: 1.5rem">
    <input type="number"
           [id]="quantityInputId"
           name="quantity"
           min="0"
           [(ngModel)]="quantity">
    <br>
    <button (click)="addADrink()">Ajouter</button>
    <br>
    <p [id]="dangerTextId"
       name="danger-text-zero-drinks"
       style="color: red; display: none;"
       [innerText]="dangerTextValue">
    </p>
  </div>
</div>
